@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

:root {
  --pink: #fcb1df;
  --white: #ffffff;
  --black: #020202;
  --aqua: #7fffd4;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
section {
  overflow: hidden;
}
.atitle {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 1.5;
  color: var(--black);
}

.button {
  height: 3.5rem;
  padding: 1rem;
  width: 15rem;
  background: var(--aqua);
  color: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 1rem 0;
}

.button::before {
  content: "";
  display: none;
  border-radius: 5rem;
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: -1;
  transition: 0.5s linear;
}

.button:hover:before {
  top: 0%;
  display: block;
}

.button:hover {
  box-shadow: 0.3rem 0.4rem var(--black), 0 0.5rem 0.8rem rgba(0, 0, 0, 0.9);
}

* {
  font-family: "Viaoda Libre", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.5s linear;
}
*::selection {
  background: var(--black);
  color: #fff;
}
.bg-darkc {
  /* background-color: rgba(245, 219, 235, 0.993); */
  background-color: #fff;
}

/* ////navbar start//// */
nav a .logo-img {
  height: 90px;
  width: 150px;
  margin-left: 3rem;
}
nav .link-items li a {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 1.2;
  margin-right: 1.5rem;
}

nav .link-items li a:hover {
  color: var(--pink) !important;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  z-index: 10;
}

.boderdown {
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
}

/* /////navbar end /////// */

/* ////////hero//////// */
.heading {
  /* text-align: center; */
  font-size: 5rem;
  font-weight: bolder;
  padding: 1rem;
  margin-top: 9rem;
  padding-top: 8rem;
  color: var(--pink);
}
/* .h-para {
  font-size: 2.5rem;
  width: 40%;

  padding: 1rem;
  font-weight: bolder;
  padding-top: 1rem;
  color: var(--black);
} */
.home {
  height: 80vh;
}

/* .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 9rem;
} */
.carousel-control-prev-icon {
  margin-bottom: 35rem;
  color: var(--pink) !important;
  height: 65px;
  width: 65px;
}
.carousel-control-next-icon {
  margin-bottom: 35rem;
  color: var(--pink) !important;

  height: 65px;
  width: 65px;
}

/* /////////hero end//////// */

/* /////about////// */

.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.about-us .img-div img {
  height: 55rem;
  background-size: contain;
  padding-left: 15%;
  width: 90%;
}
.about-us .about-para {
  width: 80%;
  padding-left: 10%;
}
.about-us .about-para h1 {
  font-size: 3.5rem;
  text-align: center;

  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 1.5;
}
.about-us .about-para img {
  padding-left: 25%;
  margin-bottom: 35px;
}
.about-us .about-para p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.3;
}
/* ///////about end///// */

/* /////services////// */

.vendor .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vendor .box-container .box {
  flex: 1 1 30rem;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
  height: 25rem;
  cursor: pointer;
}

.vendor .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.vendor .box-container .box .info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  transform: scale(1.3);
  opacity: 0;
}
.vendor .heading1 h1 {
  padding-left: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vendor .heading1 img {
  margin-left: 42.5%;
  margin-bottom: 35px;
}

.vendor {
  margin-bottom: 9rem;
}

.vendor .box-container .box:hover .info {
  transform: scale(1);
  opacity: 1;
}

.vendor .box-container .box:hover img {
  transform: scale(1.3);
}

.vendor .box-container .box .info h3 {
  font-size: 3rem;
  color: var(--black);
}

.vendor .box-container .box .info p {
  font-size: 1.7rem;
  color: #333;
  padding: 1rem;
}
/* //////services end///// */

/* /////clients////// */

.clients .row1 {
  display: flex;
}
.clients {
  margin-bottom: 15rem;
}
.clients .heading1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 1.5;
}
.clients .heading1 img {
  margin-bottom: 35px;
  width: 25%;
}
.clients .row1 .divider {
  padding: 0 1rem;
}

.clients .row1 .box-container .box img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 2rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
}

.clients .row1 .box-container .box .info {
  padding: 2rem 0;
}

.clients .row1 .box-container .box .info h3 {
  font-size: 2.5rem;
  color: #fff;
}

.clients .row1 .box-container .box .info p {
  font-size: 1.7rem;
  color: #aaa;
  padding: 1rem 0;
  font-style: italic;
}

.clients .row1 .box-container .box .info p i {
  color: var(--pink);
  padding: 0 0.5rem;
}

/* ///////client end////// */

/* ////reveiw start///// */
.reveiw {
  background: url(../images/AnaisEvents_WeddingDocumentaryPhoto-Simi-Aneil+-+045.jpg),
    no-repeat, linear-gradient(var(--black), var(--black));
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  margin-bottom: 9rem;
}
.reveiw .heading1 h1 {
  color: var(--black);
  font-size: 3.5rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 1.5;
  margin-top: 5rem;
}
.reveiw .heading1 img {
  margin-bottom: 15px;
  width: 29%;
  margin-left: 40rem;
}
.reveiw .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 9rem;
}
.reveiw .box-container .box {
  background: rgba(250, 196, 229, 0.8);
  width: 30rem;
  margin: 5rem 1.5rem;
  border-radius: 10px;
  padding: 1.5rem;
  position: relative;
}
.reveiw .box-container .box img {
  position: absolute;
  bottom: -7.5rem;
  left: -1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.reveiw .box-container .box p {
  font-size: 1.4rem;
  letter-spacing: 1;
  line-height: 1.1;
  color: var(--black);
}
.reveiw .box-container .box h3 {
  text-align: end;
  color: var(--aqua);
}
.reveiw .box-container .box span {
  text-align: end;
  color: var(--black);
  display: block;
  font-size: 1.5rem;
}
.reveiw .box-container .box::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0.4rem;
  height: 2rem;
  width: 2rem;
  background: aquamarine;
  transform: rotate(45deg);
}

/* ////reveiw end///// */

/* /////faq////// */

.faq {
  margin-bottom: 9rem;
}
.faq .heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq .heading1 img {
  margin-bottom: 35px;
  width: 30%;
}
.faq-body {
  border: 1px solid black;
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
}
.accordion-item {
  border-radius: 25px;
}

.accordion-button h2 {
  width: 100%;
  text-align: center;
}

.accordion-button[aria-expanded="true"] {
  color: #020202;
  background-color: #fff;
}
.accordion-button {
  background-color: rgb(247, 203, 231, 0.5);
}
.accordion-collapse {
  color: #020202;
  text-align: center;
  background-color: #fcb1df;
  font-size: 2rem;
}

/* ///////faq end////// */

/* //////footer////// */

.footer-basic {
  padding: 40px 0;
  background-color: var(--pink);
  color: #4b4c4d;
}
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: var(--black);
  text-decoration: none;
  opacity: 0.7;
}

.footer-basic ul a:hover {
  opacity: 1.5;
  color: var(--aqua);
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 3rem;
}

.footer-basic .social a {
  display: inline-block;
  text-align: center;
  margin-top: 1.5rem;
  transition: color 250ms ease-in-out;
  color: whitesmoke;
}
.footer-basic .social a i {
  margin-right: 15px;
}

.footer-basic .social a:hover {
  opacity: 1.5;
  color: aquamarine;
}

.footer-basic .copyright {
  margin-top: 45px;
  text-align: center;
  font-size: 16px;
  color: var(--black);
  margin-bottom: 0;
}
.lineup {
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.9);
  padding: 0.5rem 1rem;
}
.l1 {
  padding-left: 10px;
  padding-right: 10px;
}
.links {
  margin-top: 5rem;
  align-self: center;
}
.add {
  margin-top: 10px;
  text-align: center;
}
footer .logo {
  position: relative;
}
footer .logo img {
  height: 90px;
  width: 150px;
  margin-top: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /////footer end///// */

/* //////media queries////// */

@media (max-width: 767px) {
  html {
    font-size: 55%;
  }
  div .row nav .container-fluid .link-items ul li a {
    /* margin-left: 14rem !important; */
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    font-size: 2.5rem;
    font-weight: bold;
  }
  nav a .logo-img {
    margin-left: -3rem;
  }
  .home {
    height: 40vh;
    margin-bottom: -8rem;
  }
  .carousel-control-prev-icon {
    margin-bottom: 5rem;
    color: var(--pink) !important;
    height: 45px;
    width: 45px;
  }
  .carousel-control-next-icon {
    margin-bottom: 5rem;
    color: var(--pink) !important;

    height: 45px;
    width: 45px;
  }
  .about-us {
    display: flex;
    flex-direction: column;
  }
  .about-us .img-div img {
    height: 45rem;
    background-size: contain;
    padding-left: 10%;
    width: 90%;
    margin-bottom: 3rem;
  }
  .about-us .about-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .about-para h1 {
    text-align: center;
    padding-left: 30px;
  }
  .about-us .about-para p {
    text-align: center;
    padding-left: 30px;
  }
  .about-us .about-para img {
    padding-left: 10%;
    margin-bottom: 35px;
  }
  .vendor .heading1 img {
    margin-right: 13.7rem;
  }
  .heading1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
  .heading1 h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-right: 20px;
    font-weight: 600;
    line-height: 1.8;
    letter-spacing: 1.5;
  }
  .clients .row1 {
    flex-flow: column;
  }

  .clients .heading1 img {
    width: 85%;
  }
  .clients .heading1 h1 {
    padding-left: 5px;
  }
  .clients .row1 .divider {
    display: none;
  }

  .clients .row1 .box-container:last-child .box {
    display: flex;
    flex-flow: column-reverse;
  }
  .faq .heading1 img {
    margin-right: 2rem;
    margin-bottom: 35px;
  }
  .faq-body {
    padding: 0;
    border: none !important;
  }
  .footer-basic {
    padding: 40px 0;
    background-color: var(--pink);
    color: #4b4c4d;
  }
  footer {
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    flex-direction: column;
  }

  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 30px;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
  }

  .footer-basic li {
    padding: 0 10px;
  }

  .footer-basic ul a {
    color: var(--black);
    text-decoration: none;
    opacity: 0.7;
    text-align: center;
  }

  .footer-basic ul a:hover {
    opacity: 1.5;
    color: var(--aqua);
  }

  .footer-basic .social {
    text-align: center;
    padding-top: 10px;
  }

  .footer-basic .social a {
    display: inline-block;
    text-align: center;
    margin-top: 1.5rem;
    transition: color 250ms ease-in-out;
    color: whitesmoke;
  }
  .footer-basic .social a i {
    margin-right: 15px;
  }

  .footer-basic .social a:hover {
    opacity: 1.5;
    color: aquamarine;
  }

  .footer-basic .copyright {
    margin-top: 45px;
    text-align: center;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 0;
  }
  .lineup {
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.9);
    padding: 0.5rem 1rem;
  }
  .l1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .links {
    align-self: center;
  }
  .add {
    margin-top: 10px;
    text-align: center;
  }
  .add h1 {
    font-size: 20px;
  }
  footer .logo {
    position: relative;
  }
  footer .logo img {
    height: 90px;
    width: 150px;
    display: none;
    margin-top: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 991px) {
  div .row nav .container-fluid .link-items ul li a {
    /* margin-left: 14rem !important; */
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .home {
    height: 60vh;
    margin-bottom: -8rem;
  }
  .carousel-caption .carousel-control-prev-icon {
    margin-bottom: 8rem;
    color: var(--pink) !important;
    height: 55px;
    width: 55px;
  }
  .carousel-caption .carousel-control-next-icon {
    margin-bottom: 8rem;
    color: var(--pink) !important;

    height: 55px;
    width: 55px;
  }
  nav a .logo-img {
    margin-left: -3rem;
  }
  .about-us .img-div img {
    height: 60rem;
    background-size: contain;
    margin-top: 50px;

    padding-left: 10%;
    width: 90%;
  }
  .about-us .about-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .about-para h1 {
    text-align: center;
    padding-left: 30px;
  }
  .about-us .about-para p {
    text-align: center;
    padding-left: 30px;
  }
  .about-us .about-para img {
    padding-left: 10%;
    margin-bottom: 35px;
  }
  .hero {
    margin-top: 15rem;
  }
  .vendor .heading1 img {
    margin-top: 5px;
    margin-left: 32rem;
    width: 40%;
    transform: translate(-50%, -50%);
  }
  .heading1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
  .heading1 h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-right: 20px;
    font-weight: 600;
    line-height: 1.8;
    letter-spacing: 1.5;
  }
  .clients .heading1 img {
    width: 55%;
    margin-right: 15px;
  }
  .reveiw .heading1 img {
    margin-bottom: 15px;
    width: 35%;
    /* margin-left: 55rem; */
    margin-right: 42rem;
  }
  .reveiw .box-container .box p {
    font-size: 2.5rem;
    letter-spacing: 1.5;
    line-height: 1.2;
    color: var(--black);
  }
  .faq .heading1 img {
    width: 45%;
    margin-bottom: 35px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (min-width: 1200px) {
  .carousel-caption {
    top: 46%;
  }
  .carousel-caption h1 {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--white);
    line-height: 1.2;
    letter-spacing: 1.2;
  }
  .carousel-caption p {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--white);
    line-height: 1.2;
    letter-spacing: 1.2;
  }
}

/* ///////media queries////// */
